.styInp {
    width: 70%;
    padding:8px;
    border:1px solid black;
    font-size:22px;
    margin-top:2px;
    margin-right: 5px;
}

.btn{
    display: inline-block;
    background: #555;
    cursor: pointer;
    color:#fff;
    padding: 12px 20px;
    float: right;
    transform: scale(1.1);
}
.datee{
    width: 10%;
    padding:7px;
    margin:2px;
    font-size: 15px;
}
.btn:hover{
    background: #666;
}
